.App {
  text-align: center;
  background-color: #eee;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  .my-avator {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  .Download {
    width: 100%;
    display: flex;
    justify-content: end;
    padding: 1rem 2rem;
  }

  .Head{
    margin-bottom: 1rem;

    h1 {
      margin: 2rem 0 1rem 0;
      padding: 0;
      font-size: 3rem;
      margin-bottom: 1rem;
      font-family: 'Noto Sans JP', sans-serif;
    }
  }

  .Career {
    margin-bottom: 3rem;
    display: flex;

    .body {
      margin-bottom: 2rem;
      margin: 0 1rem;
      padding: 2rem;
      border: .5px solid #eee;
      border-radius: 1rem;

      h3 {
        margin-top: 0;
        font-size: 1.75rem;
      }

      p {
        margin: 0;
        padding: 0;
        font-size: .875rem;
        margin-bottom: 1rem;
      }

      .skill {
        text-align: left;
      }
    }
  }
}

.App-body {
  margin: 0 auto;
  padding: 2rem 0;
  background-color: #eeeeee;
  width: 80%;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.simpleTable {
  border: 1px solid #aaa;
  border-collapse: collapse;

  th, td {
    border: 1px solid #aaa;
    padding: .5rem;
    text-align: center;
  }
}
